In [1]:
# Python Sets

In [3]:
myset = {"apple", "banana", "cherry"}
myset

{'apple', 'banana', 'cherry'}

### Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

Note: Sets are unordered, so you cannot be sure in which order the items will appear.

Example

Create a Set:

In [4]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

### Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

### Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

### Duplicates Not Allowed
Sets cannot have two items with the same value.

Example

Duplicate values will be ignored:

In [5]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

Example

True and 1 is considered the same value:

In [6]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'cherry', 'banana'}

Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:

Example

False and 0 is considered the same value:

In [7]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

### Get the Length of a Set
To determine how many items a set has, use the len() function.

Example

Get the number of items in a set:

In [8]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### Set Items - Data Types
Set items can be of any data type:

Example

String, int and boolean data types:

In [9]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set can contain different data types:

Example

A set with strings, integers and boolean values:

In [10]:
set1 = {"abc", 34, True, 40, "male"}

### type()
From Python's perspective, sets are defined as objects with the data type 'set':

<class 'set'>

Example

What is the data type of a set?

In [11]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

### The set() Constructor
It is also possible to use the set() constructor to make a set.

Example

Using the set() constructor to make a set:

In [12]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

### Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.
*Set items are unchangeable, but you can remove items and add new items.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

### Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

Example

Loop through the set, and print the values:

In [15]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

Example

Check if "banana" is present in the set:

In [16]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

Example

Check if "banana" is NOT present in the set:

In [17]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

### Change Items
Once a set is created, you cannot change its items, but you can add new items.

# Add Set Items
### Add Items
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

Example

Add an item to a set, using the add() method:

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

### Add Sets
To add items from another set into the current set, use the update() method.

Example

Add elements from tropical into thisset:

In [19]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'pineapple', 'apple', 'papaya', 'cherry', 'banana'}

### Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

Example

Add elements of a list to at set:

In [20]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'cherry', 'orange', 'kiwi', 'banana'}

# Remove Set Items
### Remove Item
To remove an item in a set, use the remove(), or the discard() method.

Note: If the item to remove does not exist, remove() will raise an error.

Example

Remove "banana" by using the remove() method:

In [21]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

Example

Remove "banana" by using the discard() method:

Note: If the item to remove does not exist, discard() will NOT raise an error.

In [22]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

Example

Remove a random item by using the pop() method:

In [23]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

Example

The clear() method empties the set:

In [24]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

Example

The del keyword will delete the set completely:

In [26]:
thisset = {"apple", "banana", "cherry"}

del thisset

# print(thisset)

# Loop Items
You can loop through the set items by using a for loop:

Example

Loop through the set, and print the values:

In [27]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

### Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

### Union
The union() method returns a new set with all items from both sets.

Example

Join set1 and set2 into a new set:

In [28]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

You can use the | operator instead of the union() method, and you will get the same result.

Example

Use | to join two sets:

In [29]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

### Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

Example

Join multiple sets with the union() method:

In [30]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'a', 1, 2, 3, 'apple', 'bananas', 'cherry', 'b', 'Elena', 'c', 'John'}

When using the | operator, separate the sets with more | operators:

Example

Use | to join two sets:

In [31]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'a', 1, 2, 3, 'apple', 'bananas', 'cherry', 'b', 'Elena', 'c', 'John'}

### Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples.

Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

The result will be a set.

Example

Join a set with a tuple:

In [32]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{'a', 1, 2, 3, 'b', 'c'}

### Update
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

Example

The update() method inserts the items in set2 into set1:

In [33]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'c', 'b'}

Note: Both union() and update() will exclude any duplicate items.

### Intersection
Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

Example

Join set1 and set2, but keep only the duplicates:

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

You can use the & operator instead of the intersection() method, and you will get the same result.

Example

Use & to join two sets:

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersecton() method.

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

Example

Keep the items that exist in both set1, and set2:

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

The values True and 1 are considered the same value. The same goes for False and 0.

Example

Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

In [37]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

### Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

Example

Keep all items from set1 that are not in set2:

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

You can use the - operator instead of the difference() method, and you will get the same result.

Example

Use - to join two sets:

In [39]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

Example

Use the difference_update() method to keep the items that are not present in both sets:

In [40]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

### Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

Example

Keep the items that are not present in both sets:

In [41]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'microsoft', 'google', 'banana'}

You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

Example

Use ^ to join two sets:

In [42]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'microsoft', 'google', 'banana'}

Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

Example

Use the symmetric_difference_update() method to keep the items that are not present in both sets:

In [43]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'microsoft', 'google', 'banana'}

# Set Methods

### Set Methods
Python has a set of built-in methods that you can use on sets.

Method	Shortcut	Description

add()	 	Adds an element to the set

clear()	 	Removes all the elements from the set

copy()	 	Returns a copy of the set

difference()	-	Returns a set containing the difference between two or more 
sets

difference_update()	-=	Removes the items in this set that are also included in another, specified 

discard()	 	Remove the specified item

intersection()	&	Returns a set, that is the intersection of two other sets

intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	 	Returns whether two sets have a intersection or not

issubset()	<=	Returns whether another set contains this set or not

 	<	Returns whether all items in this set is present in other, specified set(s)

issuperset()	>=	Returns whether this set contains another set or not

 	>	Returns whether all items in other, specified set(s) is present in this set

pop()	 	Removes an element from the set

remove()	 	Removes the specified element

symmetric_difference()	^	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another

union()	|	Return a set containing the union of sets

update()	|=	Update the set with the union of this set and others

### Set copy() Method
The copy() method copies the set.

Example

Copy the fruits set:

In [1]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'apple', 'cherry', 'banana'}

### Set difference_update() Method
The difference_update() method removes the items that exist in both sets.

The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

As a shortcut, you can use the -= operator instead,

Example

Remove the items that exist in both sets:

In [2]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)
print(x)

{'cherry', 'banana'}

### Set intersection() Method
The intersection() method returns a set that contains the similarity between two or more sets.

Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

As a shortcut, you can use the & operator instead, see example below.

Example

Return a set that contains the items that exist in both set x, and set y:

In [3]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

### Set intersection_update() Method

Example

Remove the items that is not present in both x and y:

The intersection_update() method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

As a shortcut, you can use the &= operator instead, see example below.

In [4]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

### Set isdisjoint() Method
The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

Example

Return True if no items in set x is present in set y:

In [5]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

### Set issubset() Method
The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.

As a shortcut, you can use the <= operator instead, see example below.

Example

Return True if all items in set x are present in set y:

In [6]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

### Set issuperset() Method
The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it returns False.

As a shortcut, you can use the >= operator instead, see example below.

Example

Return True if all items set y are present in set x:

In [7]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

### Set union() Method
The union() method returns a set that contains all items from the original set, and all items from the specified set(s).

You can specify as many sets you want, separated by commas.

It does not have to be a set, it can be any iterable object.

If an item is present in more than one set, the result will contain only one appearance of this item.

As a shortcut, you can use the | operator instead, see example below.

Example

Return a set that contains all items from both sets, duplicates are excluded:

In [8]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'apple', 'cherry', 'banana', 'google', 'microsoft'}

### Set update() Method
Definition and Usage
The update() method updates the current set, by adding items from another set (or any other iterable).

If an item is present in both sets, only one appearance of this item will be present in the updated set.

As a shortcut, you can use the |= operator instead, see example below.

Example

Insert the items from set y into set x:

In [9]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'apple', 'cherry', 'banana', 'google', 'microsoft'}