In [4]:
fruits = ["apple", "banana", "orange"]
fruits

['apple', 'banana', 'orange']

In [5]:
fruits[1]

'banana'

In [6]:
fruits[0].title()

'Apple'

In [7]:
fruits[-1].title()

'Orange'

In [8]:
my_favourite_fruit = f"my favourite fruit is {fruits[2].title()}."
my_favourite_fruit

'my favourite fruit is Orange.'

In [9]:
my_choices = print(f'my first choice is {fruits[0].title()} \nmy second choice is {fruits[1].title()} \nand my third choice is {fruits[2].title()}.')
my_choices

my first choice is Apple
my second choice is Banana
and my third choice is Orange.

In [10]:
fruits = ['apple', 'banana', 'orange']
my_choices = f'my first choice is {fruits[0].title()} \nmy second choice is {fruits[1].title()} \nand my third choice is {fruits[2].title()}.'
print(my_choices)

my first choice is Apple
my second choice is Banana
and my third choice is Orange.

In [11]:
print(f"my first choice is {fruits[0].title()} \n my second choice is {fruits[1].title()} and my third choice is {fruits[2].title()}.")

my first choice is Apple
 my second choice is Banana and my third choice is Orange.

In [12]:
fruits

['apple', 'banana', 'orange']

In [13]:
# change any element of list
fruits[0] = "graps"
fruits

['graps', 'banana', 'orange']

In [15]:
# add an element in list at end of list
vagetables = ["patat", "tomato"]
vagetables

['patat', 'tomato']

In [16]:
vagetables.append("finger")
vagetables

['patat', 'tomato', 'finger']

In [17]:
# add a new element at any position
vagetables.insert(0, "chips")
vagetables

['chips', 'patat', 'tomato', 'finger']

In [18]:
# the position of the item you want to remove from a list
del vagetables[0]
vagetables
# In this example, you can no longer access the value that was removed 
# from the list after the del statement is used.

['patat', 'tomato', 'finger']

In [20]:
print(vagetables)

['patat', 'tomato', 'finger']

In [21]:
# In a web 
# application, you might want to remove a user from a list of active members 
# and then add that user to a list of inactive members.
# The pop() method removes the last item in a list, but it lets you work 
# with that item after removing it.

choiced_vagetable = vagetables.pop() # last item
choiced_vagetable

'finger'

In [24]:
choiced_vagetable = vagetables.pop(0) # frist item
choiced_vagetable

'patat'

In [1]:
players = ["Ahemd", "aslam", "akram", "shaheen", "shahryar"]

In [2]:
# Sometimes you won’t know the position of the value you want to remove 
# from a list. If you only know the value of the item you want to remove, you 
# can use the remove() method.
players.remove("aslam")
players

['Ahemd', 'akram', 'shaheen', 'shahryar']

In [3]:
# You can also use the remove() method to work with a value that’s being 
# removed from a list. Let’s remove the value 'ducati' and print a reason for 
# removing it from the list:
removed_player = "akram"
players.remove(removed_player)
print(f"it was must to remove {removed_player.title()}.")

it was must to remove Akram.

In [7]:
invitation = ["kamran", "faheem", "naeem"]
print(f"Dear {invitation[0].title()} I invite you for dinner")
print(f"Dear {invitation[1].title()} I invite you for dinner")
print(f"Dear {invitation[2].title()} I invite you for dinner")

Dear Kamran I invite you for dinner
Dear Faheem I invite you for dinner
Dear Naeem I invite you for dinner

In [13]:
invitation[0] = "nasrullah"
print(f"dear {invitation[0].title()} I invite you to dinner.")

dear Nasrullah I invite you to dinner.

In [14]:
invitation.insert(0, "amjad")
invitation.insert(1,"ahmed")
invitation.insert(2, "akram")

print(f"dear {invitation[0].title()} I invite you for dinner.")
print(f"dear {invitation[1].title()} I invite you for dinner.")
print(f"dear {invitation[2].title()} I invite you for dinner.")

dear Amjad I invite you for dinner.
dear Ahmed I invite you for dinner.
dear Akram I invite you for dinner.

In [15]:
invitation

['amjad', 'ahmed', 'akram', 'nasrullah', 'nasrullah']

In [26]:
invite_persons = ["rasheed", "rahman", "raheem", "rano"]
invite_no = invite_persons.pop()
print(f"Helo {invite_no.title()} I am sorry to invite.")

Helo Rano I am sorry to invite.

In [27]:
invite_no = invite_persons.pop()
print(f"Helo {invite_no.title()} I am sorry to invite.")

Helo Raheem I am sorry to invite.

In [28]:
invite_no = invite_persons.pop()
print(f"Helo {invite_no.title()} I am sorry to invite.")

Helo Rahman I am sorry to invite.

In [29]:
invite_no = invite_persons.pop()
print(f"Helo {invite_no.title()} you are invied yet.")

Helo Rasheed you are invied yet.

In [30]:
invite_persons

[]

In [1]:
# Sort a List Permanently with the sort() Method
my_friends = ["karam ali", "sajid ali", "masuod ali", "ajmal khan"]
my_friends.sort()
my_friends

['ajmal khan', 'karam ali', 'masuod ali', 'sajid ali']

In [2]:
my_friends.sort(reverse=True)
my_friends

['sajid ali', 'masuod ali', 'karam ali', 'ajmal khan']

In [4]:
my_friends.reverse()
my_friends

['sajid ali', 'masuod ali', 'karam ali', 'ajmal khan']

In [27]:
cars = ["jimny", "toyota", "honda", "alto"]
print("\nhere is original car list")
print(cars)
print("\nhere is sorted car list")
print(sorted(cars))
print("\nhere is reverse sorted car list")
print(sorted(cars, reverse=True))

here is original car list
['jimny', 'toyota', 'honda', 'alto']

here is sorted car list
['alto', 'honda', 'jimny', 'toyota']

here is reverse sorted car list
['toyota', 'jimny', 'honda', 'alto']

In [16]:
cars

['jimny', 'toyota', 'honda', 'alto']

In [29]:
sorted_cars = sorted(cars)
sorted_cars

['alto', 'honda', 'jimny', 'toyota']

In [30]:
cars

['jimny', 'toyota', 'honda', 'alto']

In [46]:
# reverse() doesn’t sort backward alphabetically; it simply 
# reverses the order of the lis
books = ["shafi", "maktoobat", "shami"]
books.reverse() #The reversed function is convenient when you want 
# to reverse a sequence without modifying the original data. 
# It returns an iterator, and converting it to a list gives you 
#a reversed version of the original list. This is useful when you 
# need the reversed order temporarily or want to keep the 
# original list unchanged.
# i can not understand this

['shafi', 'maktoobat', 'shami']
None

In [47]:
# Finding the Length of a List
len(cars)

4

In [49]:
drivers = ["akram", "ahmed", "aslam"]
for driver in drivers:
    print(f"{driver.title()} is best driver.")
    print(f"I like to see the work of {driver.title()}\n")

Akram is best driver.
I like to see the work of Akram

Ahmed is best driver.
I like to see the work of Ahmed

Aslam is best driver.
I like to see the work of Aslam

In [50]:
# Using the range() Function
for value in range(5):
    print(value)

0
1
2
3
4

In [51]:
for value in range(1, 5):
    print(value)

1
2
3
4

In [9]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [13]:
#convert the results of range() directly into a list using the list() function
numbers = list(range(1, 6))
numbers

[1, 2, 3, 4, 5]

In [20]:
# range() function to tell Python to skip numbers in a 
# given range. If you pass a third argument to range(), 
# Python uses that value 
# as a step size when generating numbers
num = list(range(2, 11, 2))
num

[2, 4, 6, 8, 10]

In [24]:
# Python, two asterisks (**) represent exponents. Here’s how you might put 
# the first 10 square numbers into a list:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
squares = [] # second way to run above script
for value in range(1, 11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
squares = [value**2 for value in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
my_num = []
for value in range(1,11):
    num = value**2
    my_num.append(num)
print(my_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
my_numb = []
for value in range(1,11):
    my_numb.append(value**2)
print(my_numb)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
my_numbe = [value**2 for value in range(1, 10)]
print(my_numbe)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
numbers = list(range(10))
print(numbers)
print(min(numbers))
print(max(numbers))
print(sum(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
9
45

In [26]:
for i in range(1,4): # create a list from 1 to 3
    print(i)

1
2
3

In [39]:
list1 = list(range(1,1001))
print(min(list1))
print(max(list1))
print(sum(list1))
list1

1
1000
500500

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000]

In [3]:
third_num = list(range(1,7,2))
third_num

[1, 3, 5]

In [4]:
list(range(1,8,3))

[1, 4, 7]

In [6]:
list2 = [value**3 for value in range(1, 5)]
list2

[1, 8, 27, 64]

In [8]:
list3 = []
for value in range(1, 5):
    num = value**3
    list3.append(num)
print(list3)

[1, 8, 27, 64]

In [3]:
# slicing a list
list4 = ["ahmed", "akrma", "aslam", "shakir"]
print(list4[1:3])
print(list4[ :2 ])
print(list4[2: ])
print(list4[-1])
print(list4[-3:])
print(list4[:-3])

['akrma', 'aslam']
['ahmed', 'akrma']
['aslam', 'shakir']
shakir
['akrma', 'aslam', 'shakir']
['ahmed']

In [7]:
print(list4)
print("\nhere are last three values of list4")
print(list4[1:4])

['ahmed', 'akrma', 'aslam', 'shakir']

here are last three values of list4
['akrma', 'aslam', 'shakir']

In [12]:
# copying the list
list5 = list4[:]
print(list4)
print(list5)
print("\nmy favourite values are")
print(list4)
print("\nmy friend favourite values are")
print(list5)
list4.append("karam")
list5.append("rashid")
print(list4)
print(list5)

['ahmed', 'akrma', 'aslam', 'shakir', 'karam']
['ahmed', 'akrma', 'aslam', 'shakir', 'karam']

my favourite values are
['ahmed', 'akrma', 'aslam', 'shakir', 'karam']

my friend favourite values are
['ahmed', 'akrma', 'aslam', 'shakir', 'karam']
['ahmed', 'akrma', 'aslam', 'shakir', 'karam', 'karam']
['ahmed', 'akrma', 'aslam', 'shakir', 'karam', 'rashid']

In [13]:
print("my favourite values are")
print(list4)
print("my friend favourite values are")
print(list5)

my favourite values are
['ahmed', 'akrma', 'aslam', 'shakir', 'karam', 'karam']
my friend favourite values are
['ahmed', 'akrma', 'aslam', 'shakir', 'karam', 'rashid']

In [19]:
# Instead of assigning a copy of my_foods to friend_foods, we set 
# friend_foods equal to my_foods. This syntax actually tells Python to 
# associate the new variable friend_foods with the list that is already 
# associated with my_foods, so now both variables point to the same list
list6 = [2, 3]
list7 = list6
print(list6)
print(list7)
list6.append(4)
list6.append(5)
print(list6)
print(list7)

[2, 3]
[2, 3]
[2, 3, 4, 5]
[2, 3, 4, 5]

# Tupples

In [23]:
ractengle =(50, 200)
print(ractengle[0])
print(ractengle[1])
# looping tupple through for loop
for value in ractengle:
    print(value)

50
200
50
200

In [24]:
print("original tupples are:")
print(ractengle)
ractengle = (300, 400)
print("modified tupples are:")
print(ractengle)
# When compared with lists, tuples are simple data structures. Use them 
# when you want to store a set of values that should not be changed throughout
# the life of a program

original tupples are:
(50, 200)
modified tupples are:
(300, 400)